<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
              <!-- <h1 class="display-1 fw-semibold">4<span class="text-primary mx-2">0</span>4</h1> -->
              <h1 class="display-1 fw-semibold">{{ code }}</h1>
              <h4 class="text-uppercase">{{ text }}</h4>
              <div class="my-4 text-center">
                  <a class="btn btn-primary waves-effect waves-light" [routerLink]="url">{{ textButton }}</a>
                  <a class="ms-2 btn btn-success waves-effect waves-light" routerLink="/auth">Iniciar sesión</a>
              </div>

            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-10 col-xl-8">
            <div>
                <img [src]="urlImage" alt="" class="img-fluid">
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end row -->
</div>
